<div style="padding: 0px;">
    <div class="session_name">{{session.data.config_name}}</div>
    <div>
        <!--TABS -->
        <ul class="nav nav-tabs">
            <li id="tab0" class="active">
                <button class="text_bar" ng-click="change_tab(0)">MAIN</button>
                <button class="icon_bar" ng-click="change_tab(0)">
                    <img class="pink_icon" src="private/img/icons/model_output.png" height="35" width="35">
                    <img class="white_icon" src="private/img/icons/model_output_wh.png" height="35" width="35">
                </button>
            </li>
            <li id="tab1">
                <button class="text_bar" ng-click="change_tab(1)" disabled>PROFIT CURVES</button>
                <button class="icon_bar" ng-click="change_tab(1)" disabled>
                    <img class="pink_icon" src="private/img/icons/planning.png" height="35" width="35">
                    <img class="white_icon" src="private/img/icons/planning_wh.png" height="35" width="35">
                </button>
            </li>
            <li id="tab2">
                <button class="text_bar" ng-click="change_tab(2)" disabled>BUDGET</button>
                <button class="icon_bar" ng-click="change_tab(2)" disabled>
                    <img class="pink_icon" src="private/img/icons/media_budgets.png" height="35" width="35">
                    <img class="white_icon" src="private/img/icons/media_budgets_wh.png" height="35" width="35">
                </button>
            </li>
        </ul>
        <div id="wrapper">
            <div>
                <div><!-- TOP CONTENT -->
                    <div ng-show="show_tab0">
                        <div class="charts_box">
                            <div class="chart_ext_box">
                                <div class="svgBar">
                                    <a href="#" class="saveAsImage" title="Save as PNG"
                                       ng-click="export_chart('cht01','curves_chart')">
                                    </a>
                                    <a id="linkExportCurves" href="#" class="saveAsXls" title="Save as XLS"
                                       download="Curves_chart.csv">
                                    </a>
                                </div>
                                <div id="cht01" class="chart_box">
                                    <svg></svg>
                                </div>
                            </div>
                            <div class="chart_ext_box">
                                <div class="svgBar">
                                    <a href="#" class="saveAsImage" title="Save as PNG"
                                       ng-click="export_chart('cht02','allocation_chart')">
                                    </a>
                                    <a id="linkExportAlloc" href="#" class="saveAsXls" title="Save as XLS"
                                       download="Allocation_chart.csv">
                                    </a>
                                </div>
                                <div id="cht02" class="chart_box">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="show_tab1">
                        <div class="charts_box">
                            <div class="chart_ext_box_full">
                                <div class="svgBar">
                                    <a href="#" class="saveAsImage" title="Save as PNG"
                                       ng-click="export_chart('cht03','profit_chart')">
                                    </a>
                                    <a id="linkExportProfit" href="#" class="saveAsXls" title="Save as XLS"
                                       download="profit_chart.csv">
                                    </a>
                                </div>
                                <div id="cht03" class="chart_box_full">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="show_tab2">
                        <div class="charts_box">
                            <div class="chart_ext_box_full">
                                <div class="btn-group" style="position: absolute;z-index: 999;left: 0px;top: 0px;">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 5px 7px;color:#831A81;">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" style="min-width: 37px;max-height: 250px;">
                                        <li><a style="padding: 3px 8px;text-align:left;" ng-click="changeAreaChart('spend_abs')"><p style="display: inline;font-size: 12px;font-weight: bold;color: #831A81;">Spend</p></a></li>
                                        <li><a style="padding: 3px 8px;text-align:left;" ng-click="changeAreaChart('spend_cent')"><p style="display: inline;font-size: 12px;font-weight: bold;color: #831A81;">% Spend</p></a></li>
                                        <li><a style="padding: 3px 8px;text-align:left;" ng-click="changeAreaChart('sales_abs')"><p style="display: inline;font-size: 12px;font-weight: bold;color: #831A81;">Sales</p></a></li>
                                        <li><a style="padding: 3px 8px;text-align:left;" ng-click="changeAreaChart('sales_cent')"><p style="display: inline;font-size: 12px;font-weight: bold;color: #831A81;">% Sales</p></a></li>
                                    </ul>
                                </div>
                                <div class="svgBar">
                                    <a href="#" class="saveAsImage" title="Save as PNG"
                                       ng-click="export_chart('cht04','area_chart')">
                                    </a>
                                    <a id="linkExportArea" href="#" class="saveAsXls" title="Save as XLS"
                                       download="area_chart.csv">
                                    </a>
                                </div>
                                <div id="cht04" class="chart_box_full">
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MAIN BAR -->
                <div id="navBtnsMiddle" class="center-navbar">
                    <div style="float: left;border-right: solid 1px #aaaaaa;margin-right: 5px;display: inline;padding-right: 5px;">
                        <button type="button" class="btn btn-success btn-xs" id="calcButton" ng-click="optimise()" style="height:30px;width:70px;">Optimise</button>
                    </div>
                    <div style="float: left;border-right: solid 1px #aaaaaa;margin-right: 5px;display: inline;padding-right: 5px;">
                        <span class="btn btn-default btn-file btn-xs" style="height:30px;padding-top:5px;min-width: 60px;">
                                <a id="linkExportMainData" class="linkConfig" href="#" download="table_data.csv" style="color: rgb(51, 51, 51);text-decoration:none;">Export Table</a>
                        </span>
                    </div>
                    <div style="float: left;border-right: solid 1px #aaaaaa;margin-right: 5px;display: inline;padding-right: 5px;">
                        <!--<button type="button" class="btn btn-default btn-xs" ng-click="saveSession()" style="height:30px;min-width: 60px;">Save</button>-->
                        <span class="btn btn-default btn-file btn-xs" style="height:30px;padding-top:5px;min-width: 60px;">
                            <a id="linkExportMainData2" class="linkConfig" href="#" download="session_data.csv" style="color: rgb(51, 51, 51);text-decoration:none;">Save Session</a>
                        </span>
                        <!--<button type="button" class="btn btn-default btn-xs" ng-click="saveSessionAs()" style="height:30px;min-width: 60px;">Save As</button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="openSession()" style="height:30px;min-width: 60px;">Open</button>-->
                    </div>
                    <div style="float: left;margin-right: 5px;display: inline;padding-right: 5px;border-right: solid 1px #aaaaaa;margin-right: 5px;">
                        <button type="button" class="btn btn-default btn-xs" ng-click="openSett()" style="height:30px;">Settings</button>
                    </div>
                    <div style="float: left;margin-right: 5px;display: inline;">
                        <div>
                            <span class="add-on" style="background-color: rgb(255, 255, 255);padding: 9px 8px 7px 8px;font-size:12px;margin-right: -5px;border: 1px solid #aaa;border-radius: 5px 0px 0px 5px;">Budget in {{extra_units}}</span>
                            <input type="text" class="span4 txt_group" style="width:115px;border: 1px solid rgb(170, 170, 170);border-radius: 0px 5px 5px 0px;padding-left: 5px;font-size:12px;" ng-model="session.data.budget" ng-blur="update_budget_format(session.data.budget)">
                        </div>
                    </div>
                    <div style="float: left;margin-right: 5px;display: inline;" class="aggr_box3">
                        <div>
                            <span class="add-on" style="background-color: rgb(255, 255, 255);padding: 9px 8px 7px 8px;font-size:12px;margin-right: -5px;border: 1px solid #aaa;border-radius: 5px 0px 0px 5px;">{{o_spend_label}}</span>
                            <input type="text" class="span4 txt_group" style="width:110px;border: 1px solid rgb(170, 170, 170);border-radius: 0px 5px 5px 0px;padding-left: 5px;font-size:12px;" ng-model="total_spend" disabled>
                        </div>
                    </div>
                    <div style="float: left;margin-right: 5px;display: inline;" class="aggr_box2">
                        <div>
                            <span class="add-on" style="background-color: rgb(255, 255, 255);padding: 9px 8px 7px 8px;font-size:12px;margin-right: -5px;border: 1px solid #aaa;border-radius: 5px 0px 0px 5px;">Base Plan Spend</span>
                            <input type="text" class="span4 txt_group" style="width:110px;border: 1px solid rgb(170, 170, 170);border-radius: 0px 5px 5px 0px;padding-left: 5px;font-size:12px;" ng-model="base_spend" disabled>
                        </div>
                    </div>
                    <div style="float: left;margin-right: 5px;display: inline;" class="aggr_box2">
                        <div>
                            <span class="add-on" style="background-color: rgb(255, 255, 255);padding: 9px 8px 7px 8px;font-size:12px;margin-right: -5px;border: 1px solid #aaa;border-radius: 5px 0px 0px 5px;">Sales</span>
                            <input type="text" class="span4 txt_group" style="width:110px;border: 1px solid rgb(170, 170, 170);border-radius: 0px 5px 5px 0px;padding-left: 5px;font-size:12px;" ng-model="total_sales" disabled>
                        </div>
                    </div>
                    <div style="float: left;margin-right: 5px;display: inline;" class="aggr_box">
                        <div>
                            <span class="add-on" style="background-color: rgb(255, 255, 255);padding: 9px 8px 7px 8px;font-size:12px;margin-right: -5px;border: 1px solid #aaa;border-radius: 5px 0px 0px 5px;">Profit</span>
                            <input type="text" class="span4 txt_group" style="width:110px;border: 1px solid rgb(170, 170, 170);border-radius: 0px 5px 5px 0px;padding-left: 5px;font-size:12px;" ng-model="total_profit" disabled>
                        </div>
                    </div>
                </div>
                <!-- MAIN TABLE -->
                <div id="inputGrid" style="margin: 10px 15px;overflow: hidden;"></div>
            </div>
        </div>
    </div>

    <!-- Messages -->
    <div class="calculating-screen" ng-show="showLoading" style="z-index: 99999999;">
        <h2>{{textLoading}}</h2>
        <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>
    <div class="modal-backdrop fade in" ng-show="showLoading"></div>
    <div class="calculating-screen" ng-show="savedSuccessfully" style="z-index: 99999999;">
        <h2>Saved Successfully</h2>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
        </div>
    </div>
    <!-- MODALS -->
    <!-- OPEN -->
    <div class="modal fade" id="openAsModal" tabindex="-1" role="dialog" aria-labelledby="openAsModal" aria-hidden="true">
        <div class="modal-dialog" style="width: 740px;height: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Select the session to open:</h4>
                </div>
                <div class="modal-body">
                    <!-- Load Sessions -->
                    <div style=margin-top:15px;">
                        <p style="position: absolute;top: 40%;left: 45%;font-weight: bold;color: #F58723;" ng-show="empty_sessions">No sessions!</p>
                        <div ng-hide="empty_sessions" style="height: 390px;position: relative;">
                            <div id="DivRoot3" align="left">
                                <div style="overflow: hidden;" id="DivHeaderRow3">
                                </div>

                                <div style="overflow:scroll;" onscroll="OnScrollDiv(this, 'DivHeaderRow3', 'DivFooterRow3')" id="DivMainContent3">
                                    <table id="tableOVresults3" class="table-results" style="width:670px;">
                                        <thead>
                                        <tr>
                                            <td>Session Name</td>
                                            <td>Last Saved Date</td>
                                            <td>Curves</td>
                                            <td>Creation Date</td>
                                            <td>Open</td>
                                            <td>Delete</td>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="(index, session) in sessions">
                                            <td>
                                                {{session.config_name}}
                                            </td>
                                            <td>
                                                {{session.last_saved_date}}
                                            </td>
                                            <td>
                                                {{session.curves}}
                                            </td>
                                            <td>
                                                {{session.creation_date}}
                                            </td>
                                            <td>
                                                <button class="btn btn-success btn-xs" ng-click="loadSession(session)" style="width:70%;height:30px;">Open</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-warning btn-xs" ng-click="deleteOne(session)" style="width:70%;height:30px;">Delete</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div id="DivFooterRow3" style="overflow:hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Settings MODAL -->
    <div class="modal fade" id="openAsModal2" tabindex="-1" role="dialog" aria-labelledby="openAsModal2" aria-hidden="true">
        <div class="modal-dialog" style="height: 40%;width: 600px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Session Settings:</h4>
                </div>
                <div class="modal-body">
                    <!-- Increments -->
                    <div class="container-fluid" >
                        <div class="row-fluid">
                            <div style="padding-right:20px;">
                                <div id="accordion">
                                    <h3 style="color:#FFFFFF;background:#1A8EFF;" id="screen0">Main</h3>
                                    <div>
                                        <div class="form-group" style="display: inline;padding-left: 15px;">
                                            <label style="font-size:12px;font-family: BrownStd-Bold;">Number of Points</label>
                                            <input type="text" class="inptt" style="font-family: BrownStd-Bold;" ng-model="bck.num_points" ng-blur="chk_num_point(bck.num_points)">
                                        </div>
                                    </div>

                                    <h3 style="color:#FFFFFF;background:#1A8EFF;" id="screen1">Profit Curve & Budget</h3>
                                    <div>
                                        <div class="form-group" style="padding-left: 15px;">
                                            <label style="font-size:12px;font-family: BrownStd-Bold;">Number of Increments</label>
                                            <input type="text" class="inptt" style="font-family: BrownStd-Bold;" ng-model="bck.num_increments" ng-blur="chk_num_incr(bck.num_increments)">
                                        </div>
                                        <div class="form-group" style="display: inline;padding-left: 15px;margin-left: 21px;">
                                            <label style="font-size:12px;font-family: BrownStd-Bold;">Middle Profit Point</label>
                                            <input type="checkbox" ng-model="bck.mpp" ng-change="chk_mpp()">
                                        </div>
                                        <div class="form-group mpp_class">
                                            <label style="font-size:12px;font-family: BrownStd-Bold;">Maximum Spend</label>
                                            <input type="text" class="inptt" style="font-family: BrownStd-Bold;" ng-model="bck.max_spend" ng-blur="chk_max_spend(bck.max_spend)" ng-disabled="lock_max_spend">
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Load Settings -->
                    <div style="margin-top:15px;position:relative;">
                        <div class="form-group" style="display: inline;padding-left: 0px;">
                            <label class="control-label" style="font-size:12px;padding-left:31px;float:left;padding-top:8px;margin-right:12px;">Units:</label>
                            <select id="selectUnits" class="controls form-control" style="font-size:12px;width: 150px;" ng-change="updateUnits()" ng-model="unitsSel" ng-options="cd for cd in unitsList">
                            </select>
                            <button style="right: 130px;position: absolute;top: 0px;height: 34px;" type="button" class="btn btn-default btn-xs" ng-click="checkBoxes2('yes')">Check All</button>
                            <button style="right: 30px;position: absolute;top: 0px;height: 34px;" type="button" class="btn btn-default btn-xs" ng-click="checkBoxes2('no')">UnCheck All</button>
                        </div>
                    </div>
                    <div style="margin-top: 15px;margin-left:15px;">
                        <div style="height: 310px;position: relative;">
                            <div id="DivRoot2" align="left">
                                <div style="overflow: hidden;" id="DivHeaderRow2">
                                </div>

                                <div style="overflow:scroll;" onscroll="OnScrollDiv(this, 'DivHeaderRow2', 'DivFooterRow2')" id="DivMainContent2">
                                    <table id="tableOVresults2" class="table-results" style="width: 518px;">
                                        <thead>
                                        <tr>
                                            <td>Channel</td>
                                            <td>View</td>
                                            <td>Color</td>
                                            <td>Residual</td>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr ng-repeat="(index, session) in session.data.curves_table">
                                            <td>
                                                {{session.Name}}
                                            </td>
                                            <td>
                                                <input class="form-control" type="checkbox" ng-model="session.chk">
                                            </td>
                                            <td>
                                                <input class="markscolor" id="mk_{{index}}" ng-value="session.Color" onchange="update_color(this.value, this.id)">
                                            </td>
                                            <td ng-class="{ red_neg: session.Residual > 0.05 }">
                                                {{session.Residual}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div id="DivFooterRow2" style="overflow:hidden">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="apply_changes()">Apply</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>