<div>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <!--<img class="brand" src="private/img/logo.png" width="100"/>
            <img class="brand_thick" src="private/img/logo_thick.png" height="70"/>-->
        </div>
        <div id="bs-example-navbar-collapse-1" style="margin-top: 22px;">
            <a class="navbar-brand" style="color:#CB1584;position:absolute;top:10px;font-weight: bold;font-family: BrownStd-Light;text-shadow:none;z-index:999;">{{AppName}}</a>
            <ul class="nav navbar-nav navbar-left" style="padding-top: 16px;">
                <li class="dropdown" style="border-bottom: none;">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;color: #FFFFFF;font-family: BrownStd-Light;">
                        <span class="glyphicon glyphicon-user"></span> {{session.user_details.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="openChangeLang()" ng-show="show_chg_currency()">Update Currency</a></li>
                        <li><a ng-click="goHome()">Home</a></li>
                        <li style="border-bottom: none;"><a ng-click="goExit()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Modal Change Lang -->
    <div class="modal fade" id="openAsModalLang" tabindex="-1" role="dialog" aria-labelledby="openAsModalLang" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Change Lang:</h4>
                </div>
                <div class="modal-body">
                    <!-- Lang Settings -->
                    <div class="form-group" style="display: inline;padding-left: 0px;">
                        <label class="control-label" style="font-size:12px;padding-left:31px;float:left;padding-top:8px;margin-right:12px;">Currency:</label>
                        <select id="selectLang" class="controls form-control" style="font-size:12px;width: 130px;" ng-change="updateCurrency()" ng-model="currencySel" ng-options="cd for cd in currencies">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>