<div class="welcome" ng-controller="WelcomeCtrl" style="padding-top: 0px;">
        <div class="row" style="text-align: center;">
            <div class="span11">
                <h1>Welcome to {{AppName}}</h1>
            </div>
            <div class="ui-group-buttons">
                <a class="btn btn-lg btn-primary" style="color:white;" id="manageSessionsBtn" ng-click="SessionsVisible()">
                    <i class="glyphicon glyphicon-user pull-left"></i><span>Manage<br><small>Load Sessions</small></span></a>
                <div class="or or-lg"></div>
                <a class="btn btn-lg btn-success" style="color:white;" id="manageConfigsBtn" ng-click="NewVisible()">
                    <i class="glyphicon glyphicon-dashboard pull-left" style="margin-left:5px;"></i><span>New<br><small>Upload Curves</small></span></a>
            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <div class="container frameContainer" style="padding-top: 10px;height:500px;">

                <!-- Load Sessions -->
                <div ng-show="showSessions">
                    <center>
                        <label>Load the session, pressing the next button.</label>
                        <div style="margin-top: 30px;">
                            <span class="btn btn-default btn-file btn-large" style="width:170px;margin-right: 10px;" >
                            Load Session<input type="file" ng-file-select="onFileSelect2($files)" multiple accept=".csv"/>
                            </span>
                        </div>
                    </center>
                </div>

                <!-- New Session -->
                <div ng-show="showNewSession">
                    <center>
                        <label>Upload the curves, pressing the next button or download a template and upload later.</label>
                        <div style="margin-top: 30px;">
                            <span class="btn btn-default btn-file btn-large" style="width:170px;margin-right: 10px;" >
                            Upload Curves<input type="file" ng-file-select="onFileSelect($files)" multiple accept=".csv"/>
                            </span>
                            <span class="btn btn-default btn-file btn-large" style="width:170px;">
                                    <a class="linkConfig" href="private/template.csv" download="template.csv" target="_self">Download Template</a>
                            </span>
                        </div>
                    </center>
                </div>
            </div>
        </div>

        <!-- Messages -->
        <div class="calculating-screen" ng-show="showLoading" style="z-index: 99999999;">
            <h2>{{textLoading}}</h2>
            <div class="progress progress-striped active">
                <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>
        <div class="modal-backdrop fade in" ng-show="showLoading"></div>
</div>