/* Custom font declarations */
@font-face {
    font-family: BrownStd-Bold;
    src: url("fonts/BrownStd-Bold.otf") format('opentype'),
    url("fonts/BrownStd-Bold.ttf") format('truetype');
}
@font-face {
    font-family: BrownStd-BoldAlt;
    src: url("fonts/BrownStd-BoldAlt.otf") format('opentype'),
    url("fonts/BrownStd-BoldAlt.ttf") format('truetype');
}
@font-face {
    font-family: BrownStd-ReclinBold;
    src: url("fonts/BrownStd-ReclinBold.otf") format('opentype'),
    url("fonts/BrownStd-ReclinBold.ttf") format('truetype');
}
@font-face {
    font-family: BrownStd-ReclinBoldAlt;
    src: url("fonts/BrownStd-ReclinBoldAlt.otf") format('opentype'),
    url("fonts/BrownStd-ReclinBoldAlt.ttf") format('truetype');
}
@font-face {
    font-family: BrownTT-Light;
    src: url("fonts/BrownTT-Light.otf") format('opentype'),
    url("fonts/BrownTT-Light.ttf") format('truetype');
}
body{
    font-family: "BrownTT-Light", "Calibri", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(250, 250, 250);
}
.nvd3 text {
    font: normal 11px BrownStd-Bold;
}
#btn_submit {
    height: 45px;
    border-radius: 5px;
    background: rgb(120, 27, 118);
    color: #FFFFFF;
    text-shadow: none;
    font-family: "BrownStd-Bold", "Calibri", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.input_text {
    color: rgb(120, 27, 118);
    background-color: rgba(245, 245, 245, 0.0980392);
    border: 1px solid #FFFFFF;
    padding-right: 50px;
    border-radius: 4px;
}
.form-control:focus {
    border-color: rgb(202, 22, 132);
}
.input-group .form-control:first-child {
    border-radius: 4px;
}
.input-group-addon {
    border: none;
    background-color: rgba(245, 245, 245, 0.0980392);
    color: rgb(120, 27, 118);
    position: absolute;
    right: 15px;
}
.glyphicon {
    padding-top: 3px;
    background-color: rgba(245, 245, 245, 0.0980392);
}
h1, h4 {
    color: rgb(202, 22, 132);
}
h4 {
    padding: 0 0 0 12px;
    font-size: 21px;
    margin-top: 0px;
}
h1 {
    padding: 0px 15px;
    font-size: 60px;
    font-family: "BrownStd-Bold", "Calibri", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
}

::-webkit-input-placeholder {
    color: rgba(120, 27, 118, 1.0);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(120, 27, 118, 1.0);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(120, 27, 118, 1.0);
}
:-ms-input-placeholder {
    color: rgba(120, 27, 118, 1.0);
}
input[placeholder]::-webkit-input-placeholder{
    color: rgba(120, 27, 118, 1.0);
}

.chart_svg {
    position: absolute;
    top: -9%;
    left: 11.666667%;
    z-index: 2;
}
.chart_svg img {
    display: none;
}
.footer_div {
    height:69px;bottom:30px;position:absolute;
}
.app_box {
    padding-top: 14%;
    z-index: 5;
}
.error_div {
    display: none;
    margin-left: -5px;
}
.error_msg {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: #FF0033;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}


/*
 MEDIA RESPONSIVE
*/
/* IPAD Landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .app_box {
        padding-top: 14%;
    }
    .col-md-9 {
        width: 100%;
    }
    .col-md-5 {
        width: 75%;
    }
    .col-md-push-3 {
        left: 15%;
    }
    .footer_div {
        height: 55px;
        left: 0;
        width: 100%;
    }
    .chart_svg {
        top: -8%;
        left: 0;
    }
    /*After tons of test safari not working with SVG blur
        -Hide SVG and Display Image, not nice but works 100% time.
    */
    .chart_svg svg{
        display: none;
    }
    .chart_svg img{
        display: block;
        width: 880px;
        padding-top: 10%;
        padding-left: 10%;
    }
}

/* IPAD Portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .app_box {
        padding-top: 33%;
    }
    .col-md-9 {
        width: 100%;
    }
    .col-md-5 {
        width: 55%;
    }
    .col-md-push-3 {
        left: 12%;
    }
    .footer_div {
        height: 55px;
        left: 0;
        width: 100%;
    }
    .chart_svg {
        top: -8%;
        left: 0;
    }
    /*After tons of test safari not working with SVG blur
        -Hide SVG and Display Image, not nice but works 100% time.
    */
    .chart_svg svg{
        display: none;
    }
    .chart_svg img{
        display: block;
        width: 700px;
        padding-top: 35%;
        padding-left: 8%;
    }
}
@media
    (min-width : 1025px)
and (max-width : 1380px){
    .chart_svg {
        top: -1%;
    }
}


@media
(min-width : 768px)
and (max-width : 1200px){
    .chart_svg {
        position: absolute;
        top: -9%;
        left: 0%;
        z-index: 2;
    }

    .col-md-9 {
        width: 100%;
    }
}