<!DOCTYPE html>
<html lang="en" ng-app="login-app">
<head>
    <meta charset="UTF-8">
    <title>Brolopers App</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Brolopers Apps">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui"/>

    <link rel="stylesheet" href="js/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="js/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <!--<link rel="shortcut icon" href="img/favicon.ico"/>-->
    <!--<link rel="apple-touch-icon" sizes="76x76" href="img/touch-icon-ipad.png"/>-->
</head>
<body ng-controller="LoginCtrl">
    <div>
        <div class="col-md-5 col-md-push-3 app_box">
            <!-- Box Login -->
            <div class="row margintop-20">
                <div class="col-md-7 col-md-push-3">
                    <h1>{{ app_name }}</h1>
                    <h4>ACCOUNT ACCESS</h4>

                    <div style="padding: 20px 0px;">
                        <form accept-charset="UTF-8" role="form" method="post">
                            <fieldset>
                                <div class="form-group input-group" style="width:100%;">
                                    <input class="form-control input_text" placeholder="USERNAME" type="text" name="username" ng-model="user">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user">
                                    </i>
                                </span>
                                </div>
                                <div class="form-group input-group"style="width:100%;">
                                    <input class="form-control input_text" placeholder="PASSWORD" type="password" name="password" ng-model="pass">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock">
                                    </i>
                                </span>
                                </div>
                                <div class="form-group" style="width:50%;float:right;">
                                    <button type="submit" id="btn_submit" class="btn btn-default btn-block" ng-click="login()">
                                        ACCESS
                                    </button>
                                </div>
                                <div class="error_div">
                                    <p class="error_msg">{{error_text}}</p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 chart_svg" >
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="28.4444in" height="21.3333in"
                 viewBox="0 0 2048 1536" style="height: 100%;width: 100%;">
                <defs>
                    <filter id="filter1" x="-2" y="-2" width="200" height="200">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="50" />
                        <feMerge xmlns="http://www.w3.org/2000/svg">
                            <feMergeNode/>
                            <feMergeNode in="SourceGraphic"/>
                        </feMerge>
                    </filter>
                </defs>
                <path id="Selection#1"
                      style="stroke: rgb(255, 255, 255);stroke-width: 50px;fill: rgb(255,255,255);"
                      filter="url(#filter1)"
                      d="M 1592.56,371.00
           C 1594.26,376.57 1594.55,388.59 1595.17,395.00
             1595.17,395.00 1600.17,453.00 1600.17,453.00
             1600.17,453.00 1608.17,544.00 1608.17,544.00
             1608.17,544.00 1612.00,591.00 1612.00,591.00
             1611.81,607.15 1601.07,626.24 1594.31,641.00
             1594.31,641.00 1554.86,728.00 1554.86,728.00
             1554.86,728.00 1496.31,857.00 1496.31,857.00
             1496.31,857.00 1450.69,958.00 1450.69,958.00
             1450.69,958.00 1408.42,1051.00 1408.42,1051.00
             1408.42,1051.00 1362.31,1153.00 1362.31,1153.00
             1355.17,1168.58 1351.08,1183.81 1330.00,1182.96
             1324.83,1182.75 1312.66,1179.29 1307.00,1177.87
             1307.00,1177.87 1265.00,1167.37 1265.00,1167.37
             1265.00,1167.37 1129.00,1133.65 1129.00,1133.65
             1129.00,1133.65 920.00,1081.89 920.00,1081.89
             920.00,1081.89 641.00,1012.87 641.00,1012.87
             641.00,1012.87 484.00,974.13 484.00,974.13
             484.00,974.13 467.00,969.88 467.00,969.88
             453.82,966.76 441.82,964.31 437.76,949.00
             436.97,946.01 436.94,943.07 437.01,940.00
             437.01,940.00 445.40,897.00 445.40,897.00
             445.40,897.00 463.20,809.00 463.20,809.00
             463.20,809.00 518.40,534.00 518.40,534.00
             518.40,534.00 533.40,459.00 533.40,459.00
             535.50,448.52 536.88,432.92 544.18,425.04
             552.25,416.34 563.96,416.13 575.00,416.00
             575.00,416.00 585.00,415.00 585.00,415.00
             585.00,415.00 594.00,415.00 594.00,415.00
             594.00,415.00 617.00,413.09 617.00,413.09
             617.00,413.09 642.00,411.91 642.00,411.91
             642.00,411.91 696.00,408.00 696.00,408.00
             696.00,408.00 705.00,408.00 705.00,408.00
             705.00,408.00 743.00,405.09 743.00,405.09
             743.00,405.09 768.00,403.91 768.00,403.91
             768.00,403.91 948.00,392.09 948.00,392.09
             948.00,392.09 973.00,390.91 973.00,390.91
             973.00,390.91 1058.00,385.09 1058.00,385.09
             1058.00,385.09 1099.00,382.91 1099.00,382.91
             1099.00,382.91 1121.00,381.00 1121.00,381.00
             1121.00,381.00 1130.00,381.00 1130.00,381.00
             1130.00,381.00 1159.00,379.00 1159.00,379.00
             1159.00,379.00 1184.00,377.00 1184.00,377.00
             1184.00,377.00 1193.00,377.00 1193.00,377.00
             1193.00,377.00 1232.00,374.09 1232.00,374.09
             1232.00,374.09 1272.00,371.91 1272.00,371.91
             1272.00,371.91 1373.00,365.09 1373.00,365.09
             1373.00,365.09 1414.00,362.91 1414.00,362.91
             1414.00,362.91 1499.00,357.09 1499.00,357.09
             1499.00,357.09 1543.00,354.17 1543.00,354.17
             1543.00,354.17 1556.00,353.42 1556.00,353.42
             1571.50,351.54 1587.24,353.65 1592.56,371.00 Z" />
            </svg>
            <img src="img/shadow.png">
        </div>
        <!-- Footer -->
        <div class="col-md-8 col-md-push-2 footer_div">
            <p style="float:left;padding-top:50px;">
                &copy; 2016 Brolopers
            </p>
            <!--<img src="img/logo.png" width="120" style="float:right;">-->
        </div>
    </div>
    <!-- JS Libraries -->
    <script src="js/angular-1.4.7/angular.min.js"></script>
    <!-- Controllers -->
    <script src="js/ng/controller/LoginCtrl.js"></script>
</body>
</html>