/*StyleSheet CSS - Marc Herrero */
input, textarea, keygen, select, button, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: BrownStd-Bold;
}
html {
    background:#FFFFFF no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar {
    margin-bottom: 0px;
    height: 90px;
    background: #831A81;
    border: none;
    border-radius: 0px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #831A81;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sHeader{
    font-size:30px;
    color: rgb(160, 207, 21);
    cursor: pointer;
}
.sHeader:hover {
    text-decoration:none;
    color:rgb(244,192,74);
}
.sHeader p {
    width: 200px;
    text-align: center;
    font-family: BrownStd-Light;
    color: #831A81;
}

#manageSessionsBtn {
    border: 2px solid #265a88;
}
#manageConfigsBtn {
    border: 2px solid #398439;
}

.red_neg {
    color: #FAB200;
}


/**
Welcome Buttons
*/

.ui-group-buttons .or{position:relative;float:left;width:.3em;height:2.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:25.2px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:25px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:25px}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="checkbox"]:hover {
    cursor: pointer;
}
ul.dropdown-menu li {
    cursor: pointer;
    border-bottom: #E8ECEF 1px solid;
}
ul.dropdown-menu li div.selectDiv {
    border-bottom: #E8ECEF 1px solid;
}
ul.dropdown-menu li:last-child div.selectDiv {
    border-bottom: none;
}
ul.dropdown-menu li:last-child {
    border-bottom: none;
}
ul.col-md-10.col-md-push-1 li {
    display: inline-block;
    padding-right: 4%;
}

.ui-state-active .ui-icon, .ui-state-default .ui-icon {
    background-image: url("../ext/jquery/images/ui-icons_ffffff_256x240.png");
}

.nav-tabs > li.active > button, .nav-tabs > li.active > button:hover, .nav-tabs > li.active > button:focus {
    color: #831A81;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}
.nav-tabs > li > button {
    background: transparent;
    color: #FFFFFF;
    font-weight: bold;
}
.nav-tabs > li > button {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav > li > button {
    position: relative;
    display: block;
    height: 80px;
    min-width: 90px;
    margin-top: 20px;
    padding: 1px 20px;
}
.nav > li > button:hover {
    background-color: rgba(255,255,255,0.5);
    color: #831A81;
}
.nav > li > button:hover:disabled {
    cursor: not-allowed;
}
.nav-tabs > li > button.icon_bar, .icon_bar, .pink_icon{
    display: none;
}
.white_icon {
    margin-left: -15px;
}
.nav-tabs {
    position: absolute;
    margin: -99px 0px 0px -171px;
    left: 50%;
}
.navbar-header {
    margin-left: 12px;
    margin-top: 15px;
}
.div_content_img {
    margin: 40px;
    opacity: 2.2;
    padding: 5% 0% 0% 0%;
}
.brand {
    margin-right: 10px;
}
.brand_thick {
    display: none;
    height: 50px;
    margin-top: 10px;
}

.text_bar:focus, .icon_bar:focus {
    outline: none;
}

.table-top {
    float: left;
    display: inline;
    margin-left: 30px;
    border-style: dotted;
}

.table-top td {
    padding: 7px 10px;
    text-align: center;
}

.table-results {
    width: 100%;
    border-collapse: collapse;
}

.table-results, .table-results td, .table-results th{
    /*border: 1px solid rgb(123, 236, 85);*/
    border: 1px solid #CCC;
}

.table-results th {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background: rgb(227, 232, 255);
    padding: 5px 3px;
}

.handsontable th , .table-results thead{
    background: rgb(227, 232, 255);
}

.handsontable thead th {
    padding: 7px 0px 0px 0px;
}

.handsontable {
    font-size: 12px;
}

.handsontable td {
    padding: 9px 4px 9px 4px;
}

.table-results td {
    font-size: 12px;
    padding: 5px 7px;
}

.table-results tbody tr:nth-child(odd) {
    /*background: rgb(210, 249, 198);*/
    background: rgb(255, 255, 255);
}

.table-results tbody tr:nth-child(even) {
    background: rgb(255, 255, 255);
}

.inptt{
    padding: 3px 20px;
    border-radius: 3px;
    border: 2px solid #ccc;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.linkConfig, .linkConfig:hover,.linkConfig:focus, .linkConfig:visited {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.calculating-screen{
    position:fixed;
    width:40%;
    height:15%;
    min-width:550px;
    min-height: 120px;
    padding:15px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    left:30%;
    top:42.5%;
}

.calculating-screen h2 {
    text-align: center;
}

.progress-bar {
    background-color: rgb(131, 26, 129);
}


.chart_ext_box, .chart_ext_box_full {
    border: 1px solid #ccc;
    border-radius: 2px;
    float: left;
    margin: 15px 10px;
    position: relative;
}

.chart_box, .chart_box_full {
    width: 100%;
    float: left;
}

.chart_box svg, .chart_box_full svg  {
    height: 100%;
    width: 100%;
}


.session_name {
    position: absolute;
    left: 250px;
    top: 25px;
    color: #FFFFFF;
    font-family: BrownStd-Light;
}

.saveAsImage {
    background-image: url("../img/save_icon_32.png");
}

.saveAsXls {
    background-image: url("../img/xls_icon_32.png");
}

.svgBar {
    z-index: 10;
    height: 32px;
    width: 90px;
    position: absolute;
    right: 0px;
    bottom: 3px;
}

.svgBar a {
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 10px;
    display: block;
}

.svgBar:hover a {
    display: block;
}

#navBtnsMiddle {
    clear: both;
    margin: 10px 0 0 0;
    padding: 8px 15px 10px 15px;
    height: 48px;
    border: 1px solid #ddd;
}

.aggr_box {
    margin-top: 0px;
}

.markscolor {
    cursor: pointer;
}

.mpp_class {
    display: block;
    padding-left: 50px;
    padding-top: 12px;
    margin-bottom: 0px;
}

.form-control {
    height: 25px;
}

.txt_group {
    height:30px;
    padding-top: 4px;
}

/*
 MEDIA RESPONSIVE
*/
/* IPAD Landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .div_content_img {
        padding: 0%;
    }
    .navbar-header {
        margin-left: 10px;
    }
    .nav-tabs {
        left: 53.5%;
    }
    .calculating-screen {
        left: 23%;
    }
    .txt_group {
        height:33px;
        padding-top: 6px;
    }

    .aggr_box2 {
        margin-top: 7px;
    }

    .aggr_box3 {
        margin-top: 0px;
    }

    .svgBar a,  .svgBar a:hover{
        display: none;
    }
}

/* IPAD Portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .nav-tabs > li > button.text_bar{
        display: none;
    }
    .nav-tabs > li > button.icon_bar, .icon_bar{
        display: block;
    }
    .nav-tabs > li > button.icon_bar:hover > .white_icon {
        display: none;
    }
    .nav-tabs > li > button.icon_bar:hover > .pink_icon {
        display: block;
    }
    .navbar-header {
        margin-left: 10px;
    }
    .nav-tabs {
        left: 54.5%;
    }
    .brand_thick {
        display: block;
    }
    .brand {
        display: none;
    }
    .div_content_img {
        margin: 0 40px;
    }
    .col-md-10 {
        width: 100%;
        left: 12%;
    }

    .aggr_box2 {
        margin-top: 7px;
    }

    .aggr_box3 {
        margin-top: 7px;
    }

    .calculating-screen {
        left: 14%;
    }
    .txt_group {
        height:33px;
        padding-top: 6px;
    }

    .svgBar a,  .svgBar a:hover{
        display: none;
    }
}

@media only screen and (orientation: portrait) {
    #wrapper {
        display: block;
    }
}

@media
(min-width : 768px)
and (max-width : 1200px){
    .nav-tabs > li > button.text_bar{
        display: none;
    }
    .nav-tabs > li > button.icon_bar, .icon_bar{
        display: block;
    }
    .nav-tabs > li > button.icon_bar:hover > .white_icon {
        display: none;
    }
    .nav-tabs > li > button.icon_bar:hover > .pink_icon {
        display: block;
    }

    .nav-tabs > li.active > button > .pink_icon {
        display: block;
    }

    .nav-tabs > li.active > button > .white_icon {
        display: none;
    }

    .navbar-header {
        margin-left: 10px;
    }
    .brand_thick {
        display: block;
    }
    .brand {
        display: none;
    }
    .div_content_img {
        margin: 0 40px;
    }
    .col-md-10 {
        width: 100%;
        left: 12%;
    }

    #navBtnsMiddle {
        height: 85px;
    }


    .session_name {
        left: 150px;
    }


}

@media
(min-width : 768px)
and (max-width : 1400px){
    #navBtnsMiddle {
        height: 85px;
    }
    .aggr_box {
        margin-top: 7px;
    }
}
